.date-picker {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 16px;
}

.date-picker .text-field {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 12px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 2;
    -fx-alignment: center;
}

.date-picker .arrow-button {
    -fx-background-color: #007bff;
}

.date-picker .arrow {
    -fx-background-color: white;
}

.date-picker-popup {
    -fx-background-color: #ffffff;
}

.date-picker-popup .calendar-grid {
    -fx-font-family: "Trebuchet MS";
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #007bff;
}

.date-picker-popup .left-button,
.date-picker-popup .right-button {
    -fx-background-color: transparent;
    -fx-padding: 4;
}

.date-picker-popup .left-button .arrow,
.date-picker-popup .right-button .arrow {
    -fx-background-color: white;
}

.date-picker-popup .label {
    -fx-text-fill: white;
    -fx-font-family: "Trebuchet MS";
    -fx-font-weight: bold;
}

.form-card {
    -fx-background-radius: 10;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 10, 0.3, 0, 2);
    -fx-spacing: 15;
    -fx-background-color:  #efefef;
    -fx-effect:  dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.1, 3, 3);
}

.title-label {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #007bff;
}

.form-label {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
    -fx-min-width: 90px;
}
.decor-line {
    -fx-stroke: #007bff;
    -fx-stroke-width: 2;
}
