.form-card {
    -fx-background-radius: 10;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 10, 0.3, 0, 2);
    -fx-spacing: 15;
    -fx-background-color:  #efefef;
    -fx-effect:  dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.1, 3, 3);
}

.title-label {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #007bff;
}

.form-label {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
    -fx-min-width: 90px;
}
.decor-line {
    -fx-stroke: #007bff;
    -fx-stroke-width: 2;
}
