.labelTittle{
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-font-family:  Trebuchet MS;
}
.pdf-block{
    -fx-background-color:  #efefef;
    -fx-background-radius: 20;
    -fx-effect:  dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.1, 3, 3);
}
