.labelTittle{
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-font-family:  Trebuchet MS;
    -fx-text-fill: linear-gradient(
        from 0% 0% to 100% 100%,
        #007bff,
        #0056b3
    );
}
.pdf-block{
    -fx-background-color:  #efefef;
    -fx-background-radius: 20;
    -fx-effect:  dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.1, 3, 3);
}

.pdf-field {
    -fx-focus-color: #3399ff;
    -fx-faint-focus-color: #3399ff22;
    -fx-border-radius: 3px;
    -fx-border-color: #0056b3;
}
